*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1214;
}

.chrono-display{
    color: #fff;
    background: #253338;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 340px;
    padding: 15px 10px;
    border-width: 3px;
    border-style: solid;
    border-image:  linear-gradient(45deg, #e900fa, #4100aa, #00ffdd) 1;
}

.chrono-display:hover{
    background: linear-gradient(45deg, #e900fa, #4100aa, #00ffdd);
    transition: 0.5s;
}

.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child{
    background: #04cfb4;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}